
<div class="main_div">
    <app-navbar></app-navbar>

    <div class="container">

        <div class="row home_row">

            <div class="col-md-6">

                <div class="search_div">

                    <h2 class="goHeading">
                        Go AnyWhere
                        
                        <div class="subHeading">
                            With US
                        </div>
                    </h2>

                    <form [formGroup]="homeForm">


                    <div class="source form-group source-feild">
                        <input type="text" placeholder=" Source "  class="input-fieldplaces"
                        formControlName="Source" (keyup)="searchResult($event,'source')" value = "selectedSource">
                       

                    </div>
                    <div class="searchTypehead" *ngIf="sourceTouched"> <ul *ngFor="let source of sortedList">
                        <li (click)=" selectionCall(source,'source')">{{source}}</li>
                    </ul></div>

                    <div  class="destination-feild form-group">
                        <input type="text" placeholder=" Destination " class="input-fieldplaces"
                        formControlName="Destination"  (keyup)="searchResult($event,'destination')">
                      
                    </div>
                    <div class="searchTypehead" *ngIf="destinationTouched">
                        <ul *ngFor="let destination of sortedList">
                            <li (click)=" selectionCall(destination,'destination')">{{destination}}</li>
                        </ul>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="feildHeading">
                                Travelling Date
                            </div>
                            <div  class="destination-feild form-group " id="datefeild">
                                <input type="date" [(ngModel)]="minDate" class="input-fieldplaces"
                                formControlName="startdate">
        
                                
        
                            </div>
                        </div>

                        <div class="col-md-6" >
 
                            <div class="feildHeading" id="pas">
                                Passeneger Count
                            </div>
                            <div  class="destination-feild form-group " id="passengerfeild">
                                <input type="number"  class="input-fieldplaces passCount"
                                [(ngModel)]="AdultCount"
                                formControlName="Adultcount" placeholder="passenger Count">
        
                                
        
                            </div>
                        </div>

                        <button type="submit" class="btn btnRide" [disabled]=this.homeForm.invalid (click)="getRides()">
                            Get Ride
                        </button>

                    </div>
                  

                </form>
                </div>
            </div>

            <div class="col-md-6">

                <img *ngIf="!showRides"  class="search_beside_img" src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_630,h_788/v1684852612/assets/ba/4947c1-b862-400e-9f00-668f4926a4a2/original/Ride-with-Uber.png">

                <div *ngIf="showRides">

                    gfd

                </div>
            </div>

        </div>

    </div>

</div>

