<div class="bg">
    <app-navbar></app-navbar>
    <div class="row">
        <br />
        <div class="card">
            <br />
            <a class="backbuttonatag"><img src="https://outpath.travel/assets/backarrowN.svg" class="backarrow" alt=""
                    loading="lazy" (click)="backbutton()" /><span class="headding">My Rides</span></a>
            <div class="row" *ngIf="currentdata.rides?.length > 0">
                <div class="col-md-6" *ngFor="let item of currentdata ; let i = index">
                    <div class="divcard">


                        <div class="header">City Service</div>
                        <div class="row journycell">
                            <div class="col-12">
                                <p class="route">
                                    {{ item.startLocation }} <span class="to"> To </span>
                                    {{ item.endLocation }}
                                </p>
                                <p class="date">
                                    <img src="https://outpath.travel/assets/ridedate.svg" class="infanticons" alt="line"
                                        loading="lazy" />
                                    {{ item.journeyDatetime | date : "dd-MM-yyyy" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
                                    item.journeyDatetime | date : "hh:mm"
                                    }} <span class="fare">&#8377; {{ item.totalFareAmount|number : '2.2' }}</span>
                                </p>
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="infants">
                                <img src="https://outpath.travel/assets/rideadult.svg" class="infanticons" alt="line"
                                    loading="lazy" />&nbsp;0{{
                                item.numberOfAdultPassengers + item.numberOfChildPassengers}}
                                Passengers
                            </div>
                            <p class="code_paid">Status :
                                <span *ngIf=" item.status != 'Booked' "
                                    [ngClass]="{'TD_statuscolor': item.status == 'Booked', 'TD_statuscolor_red': item.status == 'Cancelled'||item.status == 'PENDING' ||item.status == 'Pending' || item.status == 'PAYMENT_PENDING' ,'TD_statuscolor_pen': item.status == 'Partially_cancelled'  }">
                                    {{ item.status | titlecase }}</span>
                                <span class="TD_statuscolor" *ngIf=" item.status == 'Booked'">
                                    Confirmed
                                </span>
                            </p>
                            <p class="code">Booking ID:<span class="TD_ticketdetails"> {{item.id}}</span> </p>
                        </div>
                        <div class="row top-padding">
                            <div class="col-2">
                                <div class="right leftcss semicircleborder"></div>
                            </div>
                            <div class="col-8 infants">
                            </div>
                            <div class="col-2 left">
                                <div class="left rightcss semicircleborder"></div>
                            </div>
                        </div>
                        <br />
                        <div class="share_button">
                            <div class="row">
                                <div class="col-8"></div>
                                <div class="col-4">
                                    <button class="hour" [disabled]="item.status == '' || item.status == 'Pending'">
                                        Ticket Details
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>